@font-face {
    font-family: 'digi';
    src: url('DS-DIGI.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s linear;
    border: none;
}

body{
    border: solid;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: 60px;
    font-family: 'arial';
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: solid;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.time span{
    font-family: 'arial';
    font-size: 250px;
}

#milisegundos{
    font-size: 100px;
}

.buttons button{
    color: #fff;
    font-size: 30px;
    width: 150px;
    height: 70px;
    border-radius: 5px;
    margin: 10px;
}

.buttons button:hover{
    transform: scale(1.05);
}

.buttons button:active{
    transform: scale(1);
}

#startButton {
    background-color: #1F6B00;
}

#stopButton {
    background-color: #FA3120;
}

#resetButton {
    background-color: #D4A900;
}

.input input{
    border: solid 1px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin: 10px;
    text-align: center;
}

.input p{
    margin: 10px;
    font-family: 'arial';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}